{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Sistema de Compra e Inventario</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="{% static 'base/css/sb-admin-2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'base/css/personalizado.css' %}" rel="stylesheet" />

    <link
      href="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'base/vendor/sweetalert2/sweetalert2.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'base/vendor/datepicker/css/datetimepicker.min.css' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top" class="bg-gradient-primary">
    <!-- Page Wrapper -->
    <div id="wrapper">
      {% block barra_deslizante%}
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'bases:inicio' %}"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">FACTURACION</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bases:inicio' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          <!--titulo Menu-->
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-fw fa-cog"></i>
            <span>Catalogos</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Inventario:</h6>
              {% if perms.inventario.view_categoria %}
              <a class="collapse-item" href="{% url 'inventario:categorias' %}"
                >Categoria</a
              >
              {% endif %} {% if perms.inventario.view_subcategoria %}
              <a
                class="collapse-item"
                href="{% url 'inventario:subcategorias' %}"
                >Sub Categoria</a
              >
              {% endif %} {% if perms.inventario.view_marca %}
              <a class="collapse-item" href="{% url 'inventario:marcas' %}"
                >Marca</a
              >
              {% endif %} {% if perms.inventario.view_unidadmedida %}
              <a
                class="collapse-item"
                href="{% url 'inventario:unidadmedidas' %}"
                >Unidad de Medida</a
              >
              {% endif %} {% if perms.inventario.view_producto %}
              <a class="collapse-item" href="{% url 'inventario:productos' %}"
                >Productos</a
              >
              {% endif %}

              <h6 class="collapse-header">Compras:</h6>
              {% if perms.compra.view_proveedor %}
              <a class="collapse-item" href="{% url 'compra:proveedores' %}"
                >Proveedores</a
              >
              {% endif %}

              <h6 class="collapse-header">Facturacion:</h6>
              {% if perms.facturacion.view_cliente %}
              <a class="collapse-item" href="{% url 'facturacion:clientes' %}"
                >Cliente</a
              >
              {% endif %}
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseCompras"
            aria-expanded="true"
            aria-controls="collapseCompras"
          >
            <i class="fas fa-fw fa-truck"></i>
            <span>Movimientos</span>
          </a>
          <div
            id="collapseCompras"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Entradas</h6>
              <a class="collapse-item" href="{% url 'compra:compras' %}"
                >Compras</a
              >

              <h6 class="collapse-header">Salidas</h6>
              <a
                class="collapse-item"
                href="{% url 'facturacion:facturas_lista' %}"
                >Factura</a
              >
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      {% endblock barra_deslizante %}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- Topbar -->
          {% block barra_superior %}
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1"></li>

              <!-- Nav Item - Messages -->
              <li class="nav-item dropdown no-arrow mx-1"></li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >{{user.username}}</span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="https://source.unsplash.com/QAB-WJcbgJk/60x60"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->
          {% endblock barra_superior %}
          <!-- Begin Page Content -->
          {% block contenido %}
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
          </div>
          {% endblock contenido %}
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% block pie_pagina %}
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
        {% endblock pie_pagina %}
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    {% block login %}{% endblock login %}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Seleccione "Cerrar sesión" a continuación si está listo para
            finalizar su sesión actual.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="{% url 'bases:salir' %}">Salir</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="popup"></div>

    <script src="{% static 'base/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <script src="{% static 'base/js/sb-admin-2.min.js'%}"></script>

    <script src="{% static 'ase/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>
    <script src="{% static 'base/vendor/sweetalert2/sweetalert2.min.js'%}"></script>
    <script src="{% static 'base/vendor/datepicker/js/datetimepicker.full.min.js'%}"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table-locale-all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script src="{% static  'base/js/jquery.chained.min.js' %}"></script>
    <script src="{% static  'base/scripts/utilitario/utilitario.js' %}"></script>

    <script>

      {% if messages %}
        {% for mensaje in messages %}
         GestionarMensaje.MensajeInfo("Aviso","{{ mensaje }}");
        {% endfor %}
      {% endif %}
    </script>

    {% block js %}{% endblock js %}
  </body>
</html>
