{% extends "app/base.html" %} {% block contenido %}
<div class="col-xl-12 col-md-12 mb-12">
  <div class="card border-left-danger shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div
            class="text-xs font-weight-bold text-primary text-uppercase mb-1"
          >
            Usuario: <mark>{{ user.username }} {{user.get_full_name }}</mark>
          </div>
          <div class="dropdown-divider"></div>

          <div class="row">
            <p>
              <mark>No tiene suficientes privilegios</mark> para cargar opción
              solicitada.
            </p>
            <br />
            <p>
              <small
                >Para poder acceder, debes loguearte con un usuario con
                privilegios necesarios.</small
              >
            </p>
          </div>
          <div class="dropdown-divider"></div>
          <div class="row">
            <div class="col">
              <a href="{% url 'bases:inicio' %}" class="btn btn-success"
                ><span class="fa fa-home"></span> Ir a Inicio</a
              >
              <a href="{% url 'bases:login' %}" class="btn btn-success"
                ><span class="fa fa-user"></span> Ingresar con otro Usuario</a
              >
            </div>
          </div>
        </div>
        <div class="col-auto">
          <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
