{% extends 'app/base.html' %}
{% block barra_deslizante %}{% endblock barra_deslizante %}
{% block barra_superior %}{% endblock barra_superior %}
{% block contenido %}{% endblock contenido %}
{% block pie_pagina %}{% endblock pie_pagina %}

{% block login %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    <small class="text-danger">
                      {% if form.errors %}
                          {% for field in form %}
                              {% if field.errors %}
                                  {% for error in field.errors %}
                                      {{ error|escape }}
                                  {% endfor %}
                              {% endif %}
                          {% endfor %}
                  
                        {% if form.non_field_errors%}
                            {% for error in form.non_field_errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}  
                    </small
                  </div>
                  <form class="user" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" name="username" class="form-control form-control-user" id="id_username" aria-describedby="emailHelp" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-user" id="id_password" placeholder="Password">
                    </div>                                
                    <button type="submit" class="btn btn-primary btn-user btn-block">Acceder</button>                 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  {% endblock login %}

  {% block js %}
  <script>
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                  Mensaje("Aviso","{{ error|escape }}","red");
                {% endfor %}
            {% endif %}
        {% endfor %}
    
        {% if form.non_field_errors%}
            {% for error in form.non_field_errors %}
              Mensaje("Aviso","{{ error|escape }}","red");
            {% endfor %}
        {% endif %}
    {% endif %}
  </script>
  {% endblock js %}