{% extends 'app/base.html'%}
{% block contenido %}
    <form method="post" id="formulario_compra">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            {% if encabezado_compra %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <input type="hidden" id="id_compra" value="{{encabezado_compra.pk}}" />
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <h4>{% if encabezado_compra %} Editar {% else %} Nueva {% endif %} Compra</h4>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Proveedor:</label>
                                            <div class="col-sm-10">
                                              {{ formulario_encabezado.proveedor }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_fecha_compra">Fecha Compra:</label>
                                                    {{formulario_encabezado.fecha_compra}}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_descripcion">Descripción:</label>
                                                    {{formulario_encabezado.observacion}}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="no_factura">No. Factura:</label>
                                                    {{formulario_encabezado.numero_factura}}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_fecha_factura">Fecha Factura:</label>
                                                    {{formulario_encabezado.fecha_factura}}
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="Sub Total">Sub Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ formulario_encabezado.sub_total }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="sub_total">Descuento:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ formulario_encabezado.descuento }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="total">Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ formulario_encabezado.total }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                                <table 
                                                id="table"
                                                data-toggle="table"
                                                data-pagination="true"
                                                data-search="true"
                                                data-show-columns="true"
                                                data-show-toggle="true"
                                                data-show-fullscreen="true"
                                                data-locale="es-NI"
                                                data-page-size="10">
                                                
                                                    <thead>
                                                        <th>Id</th>        
                                                        <th class="all">Descripción</th>
                                                        <th class="all">Acciones</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in productos %}
                                                        <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.descripcion }}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-warning btn-circle" onclick= "selectProducto({{item.id}},'{{item.descripcion}}')" ><i class="far fa-hand-pointer"></i></button>
                                                        </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_id_producto" class="col-sm-3 col-form-label">Producto</label>
                                            <div class="col-sm-2">
                                                <input type="text" readonly class="form-control-plaintext" name="id_id_producto" id="id_id_producto" value="" required>
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="text" readonly class="form-control-plaintext" id="id_descripcion_producto" value="" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_cantidad_detalle" class="col-sm-2 col-form-label">Cant.:</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" name="id_cantidad_detalle" id="id_cantidad_detalle" value="00" required>
                                            </div>
                                            <label for="id_precio_detalle" class="col-sm-2 col-form-label">Precio:</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" name="id_precio_detalle" id="id_precio_detalle" value="00" required>
                                            </div>
                                            <label for="id_descuento_detalle" class="col-sm-2 col-form-label">Desc.:</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" name="id_descuento_detalle" id="id_descuento_detalle" value="00">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_sub_total_detalle" class="col-sm-2 col-form-label">S. Total:</label>
                                            <div class="col-sm-4">
                                                <input type="text" readonly class="form-control-plaintext" name="id_sub_total_detalle" id="id_sub_total_detalle" value="00">
                                            </div>
                                            <label for="id_total_detalle" class="col-sm-2 col-form-label">Total:</label>
                                            <div class="col-sm-3">
                                                <input type="text" readonly class="form-control-plaintext col-sm-10" name="id_total_detalle" id="id_total_detalle" value="00">
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="btn btn-sm col-sm-2" onclick="limpiar_detalles();"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                                <a href="#" class="btn btn-success"><i class="far fa-hand-point-left"></i> Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table 
                                            id="table"
                                            data-toggle="table"
                                            data-pagination="true"
                                            data-search="true"
                                            data-show-columns="true"
                                            data-show-toggle="true"
                                            data-show-fullscreen="true"
                                            data-locale="es-NI"
                                            data-page-size="10">
                                            <thead>
                                                <th>Producto</th>        
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Sub Total</th>
                                                <th>Desc.</th>
                                                <th>Total</th>
                                                <th class="all">Acciones</th>
                                            </thead>
                                            <tbody>
                                                {% for item in detalle_compra %}
                                                <tr>
                                                <td>{{ item.producto }}</td>
                                                <td>{{ item.cantidad }}</td>
                                                <td>{{ item.precio_prv}}</td>
                                                <td>{{ item.sub_total }}</td>
                                                <td>{{ item.descuento }}</td>
                                                <td>{{ item.total }}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-circle"
                                                    onclick="return abrir_modal('{% url 'compra:compras_eliminar' encabezado_compra.pk item.id %}')" >
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </form>
{% endblock %}
{% block js %}
<script>
    $(function () {
         
        if ($("#id_compra").val()==0 || $("#id_compra").val()=="" || $("#id_compra").val()==null)
        {
           $.ajax({
            type:"GET",
            url: "{% url 'api:genera_numero_factura' %}",
            success: function(data){
                $("#id_numero_factura").val(data)
            }
           })
        
        }

        //Utilizamos el plugins datepicker para cambiarle el formato a fecha_compra y fecha_factura
        $("#id_fecha_compra, #id_fecha_factura").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });
        //psra que la barra se contraiga
        $("#sidebarToggle").click();


        $('#id_cantidad_detalle,#id_precio_detalle,#id_descuento_detalle').change(function(){
            calcular_detalle();
        });
    });

    $("#formulario_compra").submit(function(e){   
        var numero_factura = $("#id_numero_factura").val();    
        if(numero_factura==""){
            e.preventDefault();
            GestionarMensaje.MensajeInfo("Aviso","Debe Especificar No. de Factura");
            return false;
        }
        if($("#id_fecha_compra").val() =="" ||$("#id_fecha_factura").val() ==""){
            e.preventDefault();
            GestionarMensaje.MensajeInfo("Aviso","Debe Especificar Fecha")
            return false;
        }
        if( $('#id_total_detalle').val() == 0 || $('#id_id_producto').val() ==0 ){
            e.preventDefault();
            GestionarMensaje.MensajeInfo("Aviso","No ha agregado producto o está sin cantidades")
            return false;
        }
    });
   

    function selectProducto(id,descripcion)
    {
        $("#id_cantidad_detalle").val(0);
        $('#id_precio_detalle').val(0);
        $('#id_descuento_detalle').val(0);

        $('#id_sub_total_detalle').val(0);
        $('#id_total_detalle').val(0);

        $("#id_id_producto").val(+id);
        $('#id_descripcion_producto').val(descripcion);
        $('#id_cantidad_detalle').focus();
        $('#id_cantidad_detalle').select();

    }
  
    function calcular_detalle()
    {
        var cantidad,precio,descuento,sub_total,total;

        cantidad = $("#id_cantidad_detalle").val();
        cantidad = cantidad ==="" ? 0 : +cantidad;
        cantidad = cantidad<0 ? 0 : cantidad;

        precio =$('#id_precio_detalle').val();
        precio = precio==="" ? 0 : +precio;
        precio = precio<0 ? 0 : precio;

        descuento = $('#id_descuento_detalle').val();
        descuento = descuento==="" ? 0 : +descuento;
        descuento = descuento<0 ? 0 : descuento;

        descuento = descuento>(cantidad * precio) ? 0 : descuento;

        sub_total = cantidad * precio;
        total  = sub_total - descuento;

        $('#id_cantidad_detalle').val(cantidad);
        $('#id_precio_detalle').val(precio);
        $('#id_descuento_detalle').val(descuento);

        $('#id_sub_total_detalle').val(sub_total);
        $('#id_total_detalle').val(total);
    }

    function limpiar_detalles(){
        $('#id_cantidad_detalle').val(0);
        $('#id_precio_detalle').val(0);
        $('#id_descuento_detalle').val(0);

        $('#id_sub_total_detalle').val(0);
        $('#id_total_detalle').val(0);

        $('#id_id_producto').val('');
        $('#id_descripcion_producto').val('');
        $("#id_proveedor").focus();
    }

</script>
{% endblock %}