{% extends 'app/base.html' %} {% block contenido %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
  >
    <h6 class="m-0 font-weight-bold text-primary">Listado de Compra</h6>
    <div class="dropdown no-arrow">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
        aria-labelledby="dropdownMenuLink"
      >
        <div class="dropdown-header">Acciones:</div>
        <a
          class="dropdown-item"
          href="{% url 'compra:imprimir_todas' %}"
          target="reportes"
          ><i class="fas fa-print"></i>Imprimir</a
        >
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="buttons-toolbar">
      <a class="btn btn-success" href="{% url 'compra:compras_nuevas' %}">
        <i cass="far fa-calendar-plus"></i> Nuevo
      </a>
    </div>
    <table
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
    >
      <thead>
        <th data-sortable="true">Fecha</th>
        <th data-sortable="true">Observación</th>
        <th data-sortable="true">No. Factura</th>
        <th data-sortable="true">F. Factura</th>
        <th data-sortable="true">Sub Total</th>
        <th data-sortable="true">Descuento</th>
        <th data-sortable="true">Total</th>
        <th data-sortable="true">Estado</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody>
        {% for item in compras%}
        <tr>
          <td>{{ item.fecha_compra }}</td>
          <td>{{ item.observacion}}</td>
          <td>{{ item.numero_factura }}</td>
          <td>{{ item.fecha_factura }}</td>
          <td>{{ item.sub_total }}</td>
          <td>{{ item.descuento }}</td>
          <td>{{ item.total }}</td>
          <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
          <td>
            <button
              class="btn btn-warning btn-circle"
              onclick="return abrir_modal('{% url 'compra:compras_editar' item.id %}')"
            >
              <i class="far fa-edit"></i>
            </button>
            <a
              class="btn btn-success btn-circle"
              href="{% url 'compra:imprimir' item.id %}"
              target="reportes"
              ><i class="fas fa-print"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock contenido %}
