<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <form method="POST" class="form-inline">
            {% csrf_token %}
            <div class="col">
                <div class="card border-left-danger shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase">
                            <div class="alert">
                                ¿ Inactivar <b>{{ proveedor.contacto }} </b> ?
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <button type="button" class="btn btn-danger" id="btn_Inactivar"><i class="far fa-question-circle"></i>
                          Inactivar
                        </button>
                        <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                            Cancelar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </form>
    </div>
  </div>
<script>
  $(document).ready(function(){

    $("#btn_Inactivar").click(function(e){
      e.preventDefault();
      var token = $('input[name=csrfmiddlewaretoken]').val();
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", token);
            }
        }
      });
      var id = {{ proveedor.id }};
      var template="{% url 'compra:proveedor_inactivar' proveedor.id %}";
      var data = {"id":id};
      data = JSON.stringify(data);

      $.ajax({
        type: "POST",
        url: template,
        data: data,
        beforeSend: function(xhr,settings){
          $.ajaxSettings.beforeSend(xhr,settings);
        },
        success: function(response){
          cerrar_modal();
          var tipo=(response.startsWith('Proveedor no existe') ? 'red':'green' );
          Mensaje("Aviso",response,tipo)
        
        },
        error: function(jqXHR, textStatus, errorThrow){
          console.log(textStatus, errorThrow);
          cerrar_modal();
          Mensaje("error",errorThrow,"red")
        }
      });
     


    });
   
  
});
 </script>
