 {% extends 'app/base.html' %}

 {% block contenido %}
 <div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    </h4 class="m-0 font-weight-bold text-primary">Listado de Productos</h4>
  </div>
  <div class="card-body">
    <div class="buttons-toolbar">
      <button 
        class="btn btn-success" 
        onclick="return abrir_modal('{% url 'inventario:productos_agregar' %}')">
        <i cass="far fa-calendar-plus"></i> Nuevo
      </button>
    </div>
    <table 
    id="table"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-show-columns="true"
    data-show-toggle="true"
    data-show-fullscreen="true"
    data-toolbar=".buttons-toolbar"
    data-locale="es-NI">
      <thead>
        <th data-sortable="true">Sub.Cat.</th>        
        <th data-sortable="true">Código</th>
        <th data-sortable="true">Barra</th>
        <th data-sortable="true">Descripción</th>
        <th data-sortable="true">Existencia</th>
        <th data-sortable="true">Marca</th>
        <th data-sortable="true">U.M.</th>
        <th data-sortable="true">Estado</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody>
        {% for item in productos %}
        <tr>
          <td>{{ item.subcategoria }}</td>
          <td>{{ item.codigo }}</td>
          <td>{{ item.codigo_barra}}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.existencia }}</td>
          <td>{{ item.marca }}</td>
          <td>{{ item.unidad_medida }}</td>
          <td>
            <div onclick="inactivar({{item.id}})">
              {% if item.estado %}
                 <i class="far fa-thumbs-up text-primary"></i>
              {% else %}
                 <i class="far fa-thumbs-down text-danger"></i>
              {% endif %}
            </div>
          </td>
          <td>
            <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'inventario:productos_editar' item.id %}')" >
              <i class="far fa-edit"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
 {% endblock contenido %}

 {% block js %}
  <script>
    function inactivar(id)
      {
          var data = {id:id};
          data = JSON.stringify(data);
          var token = '{{csrf_token}}';
          $.ajax({
              headers : {"X-CSRFToken": token},
              type:"POST",
              url:"/inventario/productos/estado/"+id,
              data: data,
              success: function(response){
                  if(response==="OK")
                  {
                      location.reload(true);
                  }
                  else{
                      GestionarMensaje.MensajeInfo("Aviso","Error Intentado Cambiar Estado a la Categoria");
                  }
              },
              error: function(jqXHR, textStatus, errorThrow){
                GestionarMensaje.MensajeError("Aviso",errorThrow,'red');
                  cerrar_modal();
              }
          });
        }
  </script>
 {% endblock js %}