<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if producto %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inventario:productos_editar' producto.id %}" enctype="multipart/form-data" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inventario:productos_agregar' %}"  enctype="multipart/form-data" >
        {% endif %}
            <div class="col-md-12">
                {% if producto %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">           
                    <div class="col-12">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           <h5> {% if producto %} Editar {% else %} Nueva {% endif %} Productos </h5>
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <input type="hidden" id="id_producto" value="{{producto.pk}}" />
                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.codigo.label}}</div>
                                <div class="input-group">{{form.codigo}}</div>
                            </div>
                            <div class="column-6">
                                <div class="input-group">{{form.codigo_barra.label}}</div>
                                <div class="input-group">{{form.codigo_barra}}</div>    
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.descripcion.label}}</div>
                                <div class="input-group">{{form.descripcion}}</div>
                            </div>
                            <div class="column-6">
                                <div class="input-group">{{form.estado.label}}</div>
                                <div class="input-group">{{form.estado}}</div>    
                            </div>                            
                        </div>
                        
                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.precio.label}}</div>
                                <div class="input-group">{{form.precio}}</div>
                            </div>
                            <div class="column-6">
                                <div class="input-group">{{form.existencia.label}}</div>
                                <div class="input-group">{{form.existencia}}</div>    
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.ultima_compra.label}}</div>
                                <div class="input-group">{{form.ultima_compra}}</div>
                            </div>
                            <div class="column-6">
                                <div class="input-group">{{form.marca.label}}</div>
                                <div class="input-group">{{form.marca}}</div>    
                            </div>     
                                          
                        </div>

                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.unidad_medida.label}}</div>
                                <div class="input-group">{{form.unidad_medida}}</div>    
                            </div>         
                            <div class="column-6">
                                <div class="input-group">Categoría</div>
                                <div class="input-group">
                                    <select name="categoria" id="id_categoria" class="form-control">
                                        <option value="0">-------</option>
                                        {% for item in categorias %}
                                        <option value="{{item.id}}">{{item.descripcion}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>                    
                        </div>
                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">Sub Categoría</div>
                                <div class="input-group">
                                    <select name="subcategoria" id="id_subcategoria" class="form-control from-control-sm">
                                        <option value="0">-------</option>
                                        {% for item in subcategorias %}
                                        <option value="{{item.id}}" data-chained="{{item.categoria.id}}">{{item.descripcion}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>     
                        </div>
                        
                        <hr/>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                  
                </div>
                </div>

            </div>
        </form>
    </div>
</div>





<script>
    $(function() {
        $("#id_categoria").val("{{ producto.subcategoria.categoria.id }}").change();
        $("#id_subcategoria").val("{{ producto.subcategoria.id }}").change();
        $("#id_subcategoria").chained("#id_categoria");

        if ($("#id_producto").val()==0 || $("#id_producto").val()=="" || $("#id_producto").val()==null)
        {
           $.ajax({
            type:"GET",
            url: "{% url 'api:genera_codigo_producto' %}",
            success: function(data){
                $("#id_codigo").val(data)
            }
           })
        
        }
    });
</script>