
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if unidadmedida %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inventario:unidadmedida_editar' unidadmedida.id %}" enctype="multipart/form-data" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inventario:unidadmedida_agregar' %}"  enctype="multipart/form-data" >
        {% endif %}
            <div class="col-md-12">
                {% if unidadmedida %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    
                    <div class="col-12">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           <h5> {% if unidadmedida %} Editar {% else %} Nueva {% endif %} Unidad Medida</h5>
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.descripcion.label}}</div>    
                                <div class="input-group">{{form.descripcion}}</div>
                            </div>     
                            <div class="column-6">
                                <div class="input-group">{{form.estado.label}}</div>
                                <div class="input-group">{{form.estado}}</div>
                            </div>
                        </div>
                        <hr/>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                  
                </div>
                </div>

            </div>
        </form>
    </div>
</div>

