{% extends 'app/base.html' %} {% block contenido %}
<div class="card shadow mb-4">
  <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
  >
    <h4 class="m-0 font-weight-bold text-primary">
      Listado de Unidad de Medida
    </h4>
  </div>
  <div class="card-body">
    <div class="card-body">
      <div class="buttons-toolbar">
        <button
          class="btn btn-success"
          onclick="return abrir_modal('{% url 'inventario:unidadmedida_agregar' %}')"
        >
          <i cass="far fa-calendar-plus"></i> Nuevo
        </button>
      </div>
      <table
        id="table"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-show-columns="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-toolbar=".buttons-toolbar"
        data-locale="es-NI"
      >
        <thead>
          <th data-sortable="true" data-field="Descripcion">Descripción</th>
          <th data-sortable="true" data-field="Estado">Estado</th>
          <th data-sortable="true" data-field="fecha_creacion">
            Feecha Creado
          </th>
          <th data-sortable="true" data-field="fecha_modificacion">
            Fecha Modificacion
          </th>
          <th class="all">Acciones</th>
        </thead>
        <tbody>
          {% for item in unidadmedidas %}
          <tr>
            <td>{{ item.descripcion }}</td>
            <td>
              <div onclick="inactivar({{item.id}})">
                {% if item.estado %}
                <i class="far fa-thumbs-up text-primary"></i>
                {% else %}
                <i class="far fa-thumbs-down text-danger"></i>
                {% endif %}
              </div>
            </td>
            <td>{{ item.fecha_creacion|date:"d/m/Y H:i:s" }}</td>
            <td>{{ item.fecha_modificacion|date:"d/m/Y H:i:s" }}</td>
            <td>
              <button
                onclick="return abrir_modal('{% url 'inventario:unidadmedida_editar' item.id %}')"
                class="btn btn-warning btn-circle"
              >
                <i class="far fa-edit"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock contenido %} {% block js %}
  <script>
    function inactivar(id) {
      var data = { id: id };
      data = JSON.stringify(data);
      var token = "{{csrf_token}}";
      $.ajax({
        headers: { "X-CSRFToken": token },
        type: "POST",
        url: "/inventario/unidamedidas/estado/" + id,
        data: data,
        success: function (response) {
          if (response === "OK") {
            location.reload(true);
          } else {
            GestionarMensaje.MensajeInfo(
              "Aviso",
              "Error Intentado Cambiar Estado a la Unidad Medida"
            );
          }
        },
        error: function (jqXHR, textStatus, errorThrow) {
          GestionarMensaje.MensajeError("Aviso", errorThrow, "red");
          cerrar_modal();
        },
      });
    }
  </script>
  {% endblock js %}
</div>
