{% extends 'app/base.html' %}

{% block contenido %}
<div class="card shadow mb-4">
 <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
   <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6>
 </div>
 
 <div class="card-body">
  <div class="buttons-toolbar">
    <button
     class="btn btn-success" 
     onclick="return abrir_modal('{% url 'facturacion:cliente_agregar' %}')" >
      <i cass="far fa-calendar-plus"></i> Nuevo
    </a>
  </div>
   <table 
      id="table" 
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
   >
     <thead>       
      <th data-sortable="true" data-field="nombres">Nombres</th>
      <th data-sortable="true" data-field="apellidos">Apellidos</th>
      <th data-sortable="true" data-field="tipo">Tipo</th>
      <th data-field="telefono">Teléfono</th>
      <th data-field="estado">Estado</th>
      <th class="all">Acciones</th>  
     </thead>
     <tbody>
       {% for item in clientes %}
       <tr>
          <td>{{ item.nombres }}</td>
          <td>{{ item.apellidos }}</td>
          <td>{{item.tipo}}</td>
          <td>{{ item.celular }}</td>
          <td>
            <div onclick="inactivar({{item.id}})">
              {% if item.estado %}
              <i class="far fa-thumbs-up text-primary"></i>
            {% else %}
              <i class="far fa-thumbs-down text-danger"></i>
            {% endif %}
          </div>
          </td>
         <td>
           <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'facturacion:cliente_editar' item.id %}')" >
             <i class="far fa-edit"></i></button>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
 </div>
</div>
{% endblock contenido %}

{% block js %}
 <script>
  function inactivar(id)
  {
    var data = {id:id};
    data = JSON.stringify(data);
    var token = '{{csrf_token}}';
    $.ajax({
      headers : {"X-CSRFToken": token},
      type:"POST",
      url:"/facturacion/cliente/estado/"+id,
      data: data,
      success: function(response){
        if(response==="OK")
        {
          location.reload(true);
        }
        else{
           GestionarMensaje.MensajeInfo("Aviso","Error Intentado Cambiar Estado a Cliente");
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
         GestionarMensaje.MensajeInfo("Aviso",errorThrow);
        cerrar_modal();
      }
    });
  }

 </script>
{% endblock js %}