<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if cliente %}
        <form method="POST" role="form" class="form-inline" action="{% url 'facturacion:cliente_editar' cliente.id %}" enctype="multipart/form-data" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'facturacion:cliente_agregar' %}"  enctype="multipart/form-data" >
        {% endif %}
            <div class="col-md-12">
                {% if cliente %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">                   
                    <div class="col-12">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          <h6>  {% if cliente %} Editar {% else %} Nuevo {% endif %} Cliente </h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.nombres.label}}</div>
                                <div class="input-group">{{form.nombres}}</div>
                            </div>
                            <div class="column-6">
                                <div class="input-group">{{form.apellidos.label}}</div>
                                <div class="input-group">{{form.apellidos}}</div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.tipo.label}}</div>
                                <div class="input-group">{{form.tipo}}</div>
                            </div>
                            <div class="column-6">
                                <div class="input-group">{{form.celular.label}}</div>
                                <div class="input-group">{{form.celular}}</div>
                            </div> 
                        </div>
                          <div class="row">
                            <div class="column-6">
                                <div class="input-group">{{form.estado.label}}</div>
                                <div class="input-group">{{form.estado}}</div>
                            </div>
                            
                        </div>
                        <hr/>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>               
                </div>
                </div>
            </div>
        </form>
    </div>
</div>

