{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de Compras</title>
    <link rel="stylesheet" href="{% static 'base/css/recibo.css' %}">
    <style type="text/css">
        @page {
             width: 58mm; 
            size: auto;   
            margin: 0mm;
            }
    </style>
</head>
<body onload="window.print()" class="receipt">
    <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1">
        <center>
            <b class="text-center">Tienda </b><br> 
            <small>Direccion</small><br>
            <small>FACTURA No. {{factura_encabezado.factura}}</small><br>
        </center>
        <small>
            <br>
            <b>Factura No.:</b>&nbsp;&nbsp;{{factura_encabezado.id}}&nbsp;&nbsp;
            <b>Fecha Fact:</b>&nbsp;&nbsp;{{factura_encabezado.fecha}}&nbsp;&nbsp; <br>
            <b>Cliente:</b>&nbsp;&nbsp;{{factura_encabezado.cliente.id}}&nbsp;&nbsp;- {{factura_encabezado.cliente}}<br>
            <br><br>
        </small>
        <table class="table table-condensed table-sm" width="60%">
            <thead>
                <th>Código</th>
                <th  align='right'>Cant.</th>
                <th  align='right'>P. Unit.</th>
                <th  align='right'>Sub Total</th>
                <th  align='right'>Descuento</th>
                <th  align='right'>Total</th>
            </thead>
            <tbody>
                {% for item in factura_detalle %}
                <tr>
                    <td>{{item.producto.id}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.precio}}</td>
                    <td>{{item.sub_total}}</td>
                    <td>{{item.descuento}}</td>
                    <td>{{item.total}}</td>
                </tr>
                <tr>
                    <td colspan="5">{{item.producto}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <div class="pull-right">
            <table class="table-responsive dt-responsive nowrap">
                <thead>
                    <th colspan=2>Totales</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Sub Total:</td> <td align='right'>{{factura_encabezado.sub_total}}</td>
                    </tr>
                    <tr>
                        <td>Iva:</td> <td align='right'>{{factura_encabezado.descuento}}</td>
                    </tr>
                    <tr>
                        <td>Total:</td> <td align='right'><b>{{factura_encabezado.total}}</b></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="row">
        <small class="pie">
            <br><br>
            <center>
                Creada por:  {{factura_encabezado.usuario_creador}} - Fecha:  {{factura_encabezado.fecha_creacion}}
                <br>
                <i>&copy; &reg; <b>Andy Miguel Ryes</b><br> - andymrrrr@gmail.com</i> 
            </center>
        </small>
        </div>
    </div>
</body>
</html>