{% extends 'app/base.html' %} {% block contenido %}
<form method="post" id="formulario">
  {% csrf_token %}
  <div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <a href="#" class="btn btn-danger">Guardar</a>
      <a
        href="{% url 'facturacion:factura_imprimir_una' factura_encabezado.id %}"
        class="btn btn-success"
        target="_blank"
        >Imprimir</a
      >
      <a href="{% url 'facturacion:facturas_lista' %}" class="btn btn-info"
        >Cancelar</a
      >
    </div>
    <div class="card-body">
      <div class="content">
        <!-- Sección Superior -->
        <div class="row">
          <!-- Sección Izquierda -->
          <div class="col-lg-6 form-group">
            <div class="content">
              <div class="row">
                <div class="col-lg-1">No.:</div>
                <div class="col-lg-4">
                  <input
                    type="text"
                    name="factura_encabezado_id"
                    id="factura_encabezado_id"
                    value="{{factura_encabezado.id}}"
                    readonly
                    class="form-control"
                  />
                </div>
                <div class="col-lg-2">Cliente:</div>
                <div class="col-lg-5 form-group">
                  <div class="row">
                    <div class="col-lg-11 col-md-11">
                      <select
                        name="factura_encabezado_cliente"
                        id="factura_encabezado_cliente"
                        class="form-control select2"
                      >
                        <option value="0">Seleccione Cliente</option>
                        {% for item in clientes %}
                        <option value="{{item.id}}">
                          {{ item.nombres }} {{item.apellidos}}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 p-2">
                  <div class="row">
                    <div class="col-lg-2">Fecha:</div>
                    <div class="col-lg-8 form-group">
                      <input
                        type="text"
                        name="factura_encabezado_fecha"
                        id="factura_encabezado_fecha"
                        class="form-control form-control-user"
                        value="{{ factura_encabezado.fecha|date:'Y-m-d' }}"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 p-2 form-group">
                  <div class="row">
                    <div class="col-lg-3">Sub Total:</div>
                    <div class="col-lg-8">
                      <input
                        type="text"
                        class="form-control text-right"
                        value="{{ factura_encabezado.sub_total }}"
                        readonly
                        name="factura_encabezado_sub_total"
                        id="factura_encabezado_sub_total"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">Descuento:</div>
                    <div class="col-lg-8">
                      <input
                        type="text"
                        class="form-control text-right"
                        value="{{ factura_encabezado.descuento }}"
                        disabled
                        name="factura_encabezado_descuento"
                        id="factura_encabezado_descuento"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">Total:</div>
                    <div class="col-lg-8">
                      <input
                        type="text"
                        class="form-control text-right"
                        value="{{ factura_encabezado.total }}"
                        disabled
                        name="factura_encabezado_total"
                        id="factura_encabezado_total"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Sección Izquierda -->

          <!-- Sección Derecha -->
          <div class="col-lg-6 from-group">
            <div class="row p-2">
              <div class="col-lg-1">Cod</div>
              <div class="col-lg-3">
                <input
                  type="text"
                  class="form-control"
                  name="codigo"
                  id="codigo"
                  placeholder="Cód. Producto"
                />
              </div>
              <div class="col-lg-7">
                <input
                  type="text"
                  class="form-control"
                  name="descripcion"
                  id="descripcion"
                  placeholder="Descripción"
                  disabled
                />
              </div>
              <div class="col-lg-1">
                <button type="button" class="btn btn-info" id="btnBuscar">
                  <i class="fab fa-searchengin"></i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1">Cant</div>
              <div class="col-lg-3">
                <input
                  type="number"
                  class="form-control"
                  name="cantidad"
                  id="cantidad"
                  placeholder="Cantidad"
                />
                <input
                  type="hidden"
                  class="form-control"
                  name="existencia"
                  id="existencia"
                />
              </div>
              <div class="col-lg-4">
                <input
                  type="number"
                  class="form-control"
                  name="precio"
                  id="precio"
                  placeholder="Precio"
                  readonly
                />
              </div>
              <div class="col-lg-3">
                <input
                  type="number"
                  class="form-control"
                  name="descuento_detalle"
                  id="descuento_detalle"
                  placeholder="Descuento"
                />
              </div>
              <div class="col-lg-1">
                <button type="submit" class="btn btn-danger" id="btnGuardar">
                  <i class="far fa-plus-square"></i>
                </button>
              </div>
            </div>
            <div class="row p-1">
              <div class="col-lg-9 text-right">Sub Total</div>
              <div class="col-lg-3">
                <input
                  type="number"
                  class="form-control"
                  name="sub_total_detalle"
                  id="sub_total_detalle"
                  placeholder="Sub Total"
                  value="0.00"
                  disabled
                />
              </div>
            </div>
            <div class="row p-1">
              <div class="col-lg-9 text-right">Total</div>
              <div class="col-lg-3">
                <input
                  type="number"
                  class="form-control"
                  name="total_detalle"
                  id="total_detalle"
                  placeholder="Total"
                  value="0.00"
                  disabled
                />
              </div>
            </div>
          </div>
        </div>

        <hr />
        <div class="row p-1">
          <div class="col-lg-12">
            <table
              data-toggle="table"
              data-pagination="true"
              data-search="true"
              data-show-columns="true"
              data-show-toggle="true"
              data-show-fullscreen="true"
              data-locale="es-NI"
            >
              <thead>
                <th data-sortable="true" data-field="id">Id.</th>
                <th data-sortable="true" data-field="codigo">Código</th>
                <th data-sortable="true" data-field="descripcion">
                  Descripción
                </th>
                <th data-field="cantidad">Cant</th>
                <th data-field="subtotal">S. Total</th>
                <th data-field="descuento">Des.</th>
                <th data-field="total">Total</th>
                <th class="all">Acciones</th>
              </thead>
              <tbody>
                {% for item in factura_detalle%}
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.producto }}</td>
                  <td>{{ item.producto.descripcion }}</td>
                  <td>{{ item.cantidad }}</td>
                  <td>{{ item.sub_total }}</td>
                  <td>{{ item.descuento }}</td>
                  <td>{{ item.total }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-warning btn-circle"
                      onclick="borrar_detalle({{ item.id }})"
                    >
                      <i class="fas fa-history"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- Fin Detalle -->
      </div>
    </div>
  </div>
</form>
{% endblock %} {% block js %}
<script>
  $(function(){
      $("#sidebarToggle").click();

      $('.select2').select2({
          placeholder: "Seleccione Cliente",
          allowClear: true
      });

      $("#codigo").keypress(function(e){
          if(e.keyCode===13){
              e.preventDefault();
              buscar_Producto();
          }
      });

      $('#cantidad,#precio,#descuento_detalle').change(function(){
          calcular_detalle();
      });


      $("#factura_encabezado_cliente").val({{ factura_encabezado.cliente.id }}).change()
  })

  $("#btnBuscar").click(function(e){
      if ($("#factura_encabezado_cliente").val()==="0"){
          Mensaje("Aviso","Cliente No Seleccionado",'red');
          return false;
      }
      abrir_modal("{% url 'facturacion:factura_producto' %}");
  });

  function buscar_Producto()
  {
      if ($("#cliente").val()==="0" || $("#cliente").val()===null){
          Mensaje("Aviso","Cliente No Seleccionado",'red');
          return false;
      }

      if($("#codigo").val() ===""){
          return false;
      }
      var ruta =
      $.ajax({
          type:"GET",
          url: "{% url 'api:producto_listado' %}" + $("#codigo").val(),
          success: function(data){
              if(data.existencia<=0 || !data.estado){
                  Mensaje("Aviso","Producto No Tiene Existencia o está inactivo",'orange')
                  $("#codigo").val("");
                  $("#descripcion").val("");
                  $("#precio").val("0.00");
                  $("#codigo").focus();
                  return false;
              }

              $("#codigo").val(data.codigo);
              $("#descripcion").val(data.descripcion);
              $("#precio").val(data.precio);
              $("#existencia").val(data.existencia);
              $("#cantidad").focus();
          },
          error: function(a,b,c){
              if(a.status==404){
                  Mensaje("Aviso","Producto -" + codigo + "- No Encontrado o No Existe",'red');
                  $("#codigo").val("");
                  $("#descripcion").val("");
                  $("#precio").val("0.00");
                  $("#codigo").focus();
              }

          }

      });
  }
  function calcular_detalle()
  {
      var cantidad,precio,descuento,sub_total,total;

      cantidad = $("#cantidad").val();
      cantidad = cantidad==="" ? 0 : +cantidad;
      cantidad = cantidad<0 ? 0 : cantidad;

      precio =$('#precio').val();
      precio = precio==="" ? 0 : +precio;
      precio = precio<0 ? 0 : precio;

      descuento = $('#descuento_detalle').val();
      descuento = descuento==="" ? 0 : +descuento;
      descuento = descuento<0 ? 0 : descuento;

      descuento = descuento>(cantidad * precio) ? 0 : descuento;

      sub_total = cantidad * precio;
      total  = sub_total - descuento;

      $('#cantidad').val(cantidad);
      $('#precio').val(precio);
      $('#descuento_detalle').val(descuento);

      $('#sub_total_detalle').val(sub_total);
      $('#total_detalle').val(total);
  }
  function borrar_detalle(id)
  {
      $.confirm({
          theme:"modern",
          icon:"fab fa-keycdn",
          type:'red',
          title: "Confirmación Requerida",
          content: 'url:/facturacion/facturas/borrar_detalle/' + id,
          onContentReady: function () {
              var self = this;
              this.$content.find('#usuario').val('{{ user.username }}');
              this.$content.find('#usuario').select();
              this.$content.find('#usuario').focus();
          },
          buttons:{
              borrar:{
                  text:"Borrar",
                  btnClass:"btn btn-danger",
                  action: function(){
                      var usuario = this.$content.find('input#usuario');
                   var pass = this.$content.find('input#password');

                      if(!usuario.val().trim()){
                          Mensaje("Aviso","Usuario es requerido",'red');
                          return false;
                      }

                      if(!pass.val().trim()){
                          Mensaje("Aviso","Contraseña es Requerida","red");
                          return false;
                      }

                      var data = {"usuario":usuario.val(),"pass":pass.val()};
                   console.log(data);

                      var token = '{{csrf_token}}';
                      $.ajax({
                          headers: { "X-CSRFToken": token },
                          type:"POST",
                          data:data,
                          url: '/facturacion/facturas/borrar_detalle/' + id,
                          success: function(data){
                              if(data==="ok"){
                                  location.reload(true);
                              }else{
                                  mensaje("Aviso",data,'red');
                              }
                          },
                          error: function(a,b,c){
                              Mensaje("error",c,"red");
                          }
                      });
                  }
                  },
              cancelar: function(){}
              }
      });
  }
  $("#formulario").submit(function(e){
      var existencia = +$("#existencia").val();
      var cantidad = +$("#cantidad").val();

      if(cantidad>existencia){
          mensaje("No hay existencia suficiente");
          return false;
      }
  })
</script>
{% endblock js %}
