<label class="text-danger">¿Anular Producto <b>{{factura_detalle.producto.descripcion}}</b> de factura <b>{{factura_detalle.factura.id}}</b>?</label>
<div>
    <div class="form-group">
        <label class="control-label">Usuario</label>
        <input type="text" id="usuario" class="form-control" required>
    </div>
    <div class="form-group">
        <label class="control-label">Contraseña</label>
        <input type="password" id="password" class="form-control" required>
    </div>
</div>