{% extends 'app/base.html' %} {% block contenido %}
<div class="card shadow mb-4">
  <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
  >
    <h6 class="m-0 font-weight-bold text-primary">Listado de Facturas</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <input
          type="text"
          class="form-class fecha"
          name="fechainicio"
          id="fechainicio"
          readonly
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-class fecha"
          name="fechafinal"
          id="fechafinal"
          readonly
        />
      </div>
      <div class="col-md-4">
        <button class="btn btn-warning" type="button" id="btnPrint">
          Imprimir
        </button>
      </div>
    </div>
    <hr />
    <div class="buttons-toolbar">
      <a class="btn btn-success" href="{% url 'facturacion:facturas_agregar' %}"
        ><i cass="far fa-calendar-plus"></i> Nuevo</a
      >
    </div>

    <table
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
    >
      <thead>
        <th data-sortable="true" data-field="id">No.</th>
        <th data-sortable="true" data-field="nombres">Cliente</th>
        <th data-sortable="true" data-field="apellidos">Total</th>
        <th data-field="estado">Estado</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody>
        {% for item in facturas%}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.cliente }}</td>
          <td>{{ item.total }}</td>
          <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
          <td>
            <a
              href="{% url 'facturacion:factura_editar' item.id %}"
              class="href btn btn-warning btn-circle"
            >
              <i class="far fa-edit"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock contenido %} {% block js %}
  <script>
    $(function () {
      $(".fecha").datetimepicker({
        format: "Y-m-d",
        timepicker: false,
      });

      $("#btnPrint").click(function (e) {
        e.preventDefault();
        var fechainicio,
          fechafinal,
          hoy = new Date();
        fechainicio = $("#fechainicio").val();
        fechafinal = $("#fechafinal").val();
        if (fechainicio == "" || fechainicio == null) {
          fechainicio =
            hoy.getFullYear() + "-" + hoy.getMonth() + "-" + hoy.getDate();
        }
        if (fechafinal == "" || fechafinal == null) {
          var fechafinal =
            hoy.getFullYear() +
            "-" +
            (hoy.getMonth() + 1) +
            "-" +
            hoy.getDate();
        }

        var url = "imprimir-todas/" + fechainicio + "/" + fechafinal;

        window.open(url, "facturas");
      });
    });
  </script>
  {% endblock %}
</div>
